<%= render "shared/header" %>

<%# 相談新規投稿画面 %>
  <div class='talks-new-wrapper'>
    <h2 class="talks-new-title">新規投稿</h2>


    <div class="talks-new-content">
      <div class='talks-form-wrapper'>
        <%= form_with model: @talk, url: talks_path, local: true do |f|%>
          <%= render 'shared/error_messages', model: @talk %>
          <div class='talks-new-field'>
            <div class='talks-new-field-label'>
              <%= f.label :タイトル %>
            </div>
            <div class='talks-new-field-input'>
              <%= f.text_field :title, class: 'talks-title-area', autofocus: true %>
            </div>
          </div>

          <div class='talks-new-field'>
            <div class='talks-new-field-label'>
              <%= f.label :相談内容 %>
            </div>
            <div class='talks-new-field-input'>
              <%= f.text_area :content, class: 'talks-text-area' %>
            </div>
          </div>

          <div class='actions'>
            <%= f.submit "投稿", class: 'user-create' %>
          </div>

        <% end %>
      </div>

      <div class="talks-new-caution">
        <div class="caution-text">どんなお悩みでも大丈夫です!
        <br><br>（参考例）<br>タイトル:歩行中に左足に痛みがあります
        <br>相談内容:2年前に左大腿骨頸部骨折し、人工骨頭置換術を受けました。
        <br>屋内は杖なし、屋外は杖を使って歩いています。
        <br>現在外来リハビリにも週1回通っていますが、
        <br>1km以上歩くと左足の付け根が痛くなります。</div>
        <%= image_tag "pain.jpg", class:"caution-image" %>
      </div>
    </div>


  </div>
  <%= render "shared/footer" %>