<%= render "shared/header" %>

<%# 投稿詳細（タイトル、内容）とその下に編集ボタン、削除ボタンをつける %>
<%# タイトル %>
  <div class='field'>
    <div class='field-label'>
      <%= label_tag :タイトル %>
    </div>
    <div class='field-input'>
      <%= @talk.title %>
    </div>
  </div>

<%# 名前 %>
  <div class='field'>
    <div class='field-label'>
      <%= label_tag :相談者 %>
    </div>
    <div class='field-input'>
      <%= @user.nickname %>
    </div>
  </div>

<%# 相談内容 %>
  <div class='field'>
    <div class='field-label'>
      <%= label_tag :投稿内容 %>
    </div>
    <div class='field-input'>
      <%= @talk.content %>
    </div>
  </div>

  <%# 編集ボタンと削除ボタンを投稿したユーザーだけに表示。左右に位置させる。%>
  <% if @talk.user == current_user %>
    <div class="talk-button">

      <%# 編集ボタン %>
      <div class="edit-button">
        <%= link_to "編集", edit_talk_path(@talk), class: 'btn'%>
      </div>

      <%# 削除ボタン %>
      <div class="delete-button">
        <%= link_to "削除", talk_path(@talk), method: :delete, class: 'btn'%>
      </div>
    </div>
  <% end %>

  <%# ここからコメント欄 %>
  <div class="talks__comments">
    <% if user_signed_in? %>
      <%= form_with model: @comment, url: talk_comments_path(@talk.id) ,method: :post, local: true do |f|%>
        <%= render 'shared/error_messages', model: @comment %>
        <div class="field">
          <%= f.label :コメント %><br />
          <%= f.text_field :comment, id:"comment_text" %>
        </div>
        <div class="actions">
          <%= f.submit "送信", class: :form__btn  %>
        </div>
      <% end %> 
    <% end %>
    <ul class="comments_lists">
    <h5>コメント一覧</h5>
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.comment %>
          <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
        </li>
      <% end %>
    </ul>
  </div>


