<%= render "shared/header" %>
<div class="talks-show-wrapper">
<%# 投稿詳細（タイトル、内容）とその下に編集ボタン、削除ボタンをつける %>
<%# タイトル %>
  <div class='talks-show-field'>
    <div class='talks-show-field-label'>
      <%= label_tag :タイトル %>
    </div>
    <div class='talks-show-field-input'>
      <%= @talk.title %>
    </div>
  </div>

<%# 名前 %>
  <div class='talks-show-field'>
    <div class='talks-show-field-label'>
      <%= label_tag :相談者 %>
    </div>
    <div class='talks-show-field-input'>
      <%= @user.nickname %>
    </div>
  </div>

<%# 相談内容 %>
  <div class='talks-show-field'>
    <div class='talks-show-field-label'>
      <%= label_tag :投稿内容 %>
    </div>
    <div class='talks-show-field-input'>
      <%= @talk.content %>
    </div>
  </div>

  <%# 編集ボタンと削除ボタンを投稿したユーザーだけに表示。左右に位置させる。%>
  <% if @talk.user == current_user %>
    <div class="talk-button">

      <%# 編集ボタン %>
      <button class="edit-button">
        <%= link_to "編集", edit_talk_path(@talk), class: 'btn'%>
      </button>

      <%# 削除ボタン %>
      <button class="delete-button">
        <%= link_to "削除", talk_path(@talk), method: :delete, class: 'btn'%>
      </button>
    </div>
  <% end %>

  <%# ここからコメント欄 %>
  <div class="comment-wrapper">
    <div class="comment-left">
      <div class="comment-form">
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: talk_comments_path(@talk.id) ,method: :post, local: true do |f|%>
            <%= render 'shared/error_messages', model: @comment %>
            <div class="comment-field">
              <%= f.label :コメント %><br />
              <%= f.text_area :comment, class:"comment-text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信", class: 'commnet-form-btn'  %>
            </div>
          <% end %> 
        <% end %>
      </div>
      <div class="comment-lists-wrapper">
        <ul class="comments-lists">
        <h3>コメント一覧</h3>
          <% @comments.each do |comment| %>
            <li class="comments-list">
              <%= comment.comment %>
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
              <span class="comment-created-at">
                <%= l comment.created_at %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="comment-right">
      <div class="caution">
        ※お悩みに沿った<br>わかりやすいコメントをお願いします！<br>
        みんなに優しい<br>言葉づかいを心がけましょう。
      </div>
      <%= image_tag "stretch.jpg", class:"comment-image" %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

