<%#= render "shared/header" %>

<header class='top-page-header'>
  <div class='logo'>
    <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
    <%= link_to "therapistalk", "/", class: "logo-text" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
        <li><%= link_to '投稿', new_talk_path, class: "user-edit" %></li> <!-- 追加 -->
      <% else %>  
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>

  <%# マイページの中身 %>
<div class="mypage-wrapper">
  <div class="mypage-main">

    <div class="mypage-left">
      <%# ニックネーム %>
      <div class='mypage-field'>
        <div class='mypage-field-label'>
          <%= label_tag :ニックネーム %>
        </div>
        <div class='mypage-field-input'>
          <%= @user.nickname %>
        </div>
      </div>

      <%# 職業 %>
      <div class='mypage-field'>
        <div class='mypage-field-label'>
          <%= label_tag :職業 %>
        </div>
        <div class='mypage-field-input'>
          <%= @user.job %>
        </div>
      </div>

      <%# 自己紹介 %>
      <div class='mypage-field'>
        <div class='mypage-field-label'>
          <%= label_tag :自己紹介 %>
        </div>
        <div class='mypage-field-input'>
          <%= @user.description %>
        </div>
      </div>

      <%# 条件分岐 %>
      <% if user_signed_in? && current_user.id ==  @user.id %>
        <div class='actions'>
          <%= button_to "編集", edit_user_path(current_user), method: :get, class: 'user-edit' %>
        </div>
      <% end %>
    </div><%# end mypage-left %>

    <div class="mypage-right">
      <%= image_tag "kindness.jpg", class:"mypage-image" %>
    </div>

  </div>

  

  
  <%# 投稿一覧ページ %>
  <div class='main'>
    <div class='talks-contents'>
      <h2 class='main-title'>投稿一覧</h2>
      <ul class='talks-lists'>
        <% @talks.each do |talk| %>
          <li class='list'>
            <div class='talks-info'>
            <%= link_to talk_path(talk) do%>
              <h3 class='talks-title'>
                <%= talk.title %>
              <h3>
            <% end %>
            <div class="talk-created-at">
              <%= l talk.created_at %>
            </div>
          </li>
        <% end %>
      </ul>
      <%# 投稿一覧 %>
    </div>
  </div>

</div>
<%= render "shared/footer" %>